.app-wrapper {
    display: grid;

    margin: auto 5%;

    grid-template-areas:
       "h h"
       "n c";

    grid-template-rows: 6vh 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1vh;
    justify-content: center;
}

.app-wrapper-content {
    grid-area: c;
    background-color: transparent;
}









